@model App.Web.Models.AbonoPorClienteModel
@Html.HiddenFor(x => x.FechaIngreso)
<script src="~/Scripts/Proyecto/AbonoPorCliente.js"></script>

<div class="row m-b-20 col-md-6">
    <!--Simple Select with Search-->
    <div class="form-group bmd-form-group col-md-12">
        <label>Cliente *</label>
        @Html.DropDownList("ClienteId", Model.ListaCliente, new { id = "ClienteId", @class = "form-control pmd-select2 select-with-search", required = true, style = "width: 100%;" })
    </div>
    <div class="form-group bmd-form-group col-md-12">
        <label class="bmd-label-static">Abono *</label>
        @Html.DropDownList("AbonoId", Model.ListaAbono, new { id = "AbonoId", @class = "form-control pmd-select2 select-with-search", required = true, style = "width: 100%;" })
    </div>
    <div class="form-group bmd-form-group col-md-12">
        <label class="bmd-label-static">Precio *</label>
        @Html.TextBoxFor(model => model.Precio, new { id = "Precio", @class = "form-control", onkeyup = "RemplaceComa()", style = "width: 100%;" })
    </div>
    <div class="form-group bmd-form-group col-md-12">
        <label class="bmd-label-static">Vencimiento *</label>
        @Html.TextBoxFor(model => model.FechaVencimiento, new { id = "FechaVencimiento", @class = "form-control", required = true, style = "width: 100%;" })
    </div>
    <div class="form-group bmd-form-group col-md-6">
        <span class="bmd-form-group is-filled">
            <div class="checkbox checkbox-primary">
                <label>
                    @Html.TextBoxFor(model => model.Pagado, new { type = "checkbox", id = "ckPagado" })<span class="checkbox-decorator"><span class="check"></span></span>Pagado ?
                </label>
            </div>
        </span>
    </div>
    <div class="input-field col-md-6" style="margin-left: -10px; padding-top:10px">
        <label class="bmd-label-static">Queda Pendiente de Pagar</label>
        <textarea class="form-control" rows="1" runat="server" id="PendientePago">@Model.PendientePago</textarea>
    </div>



</div>
<div class="form-group pull-right">
    <button type="submit" class="btn btn-primary">Guardar<div class="ripple-container"></div></button>

</div>


<script>
    $(document).ready(function () {
        $('#FechaVencimiento').datepicker({
            format: 'dd/mm/yyyy',
              });

        if ('@Model.Pagado' == "True") {
            $('#ckPagado').prop("checked", true);
        }
        else {
            $('#ckPagado').prop("checked", false);
        }

        $('#ckPagado').change(function () {
            if ($(this).prop("checked")) {
                $('#ckPagado').val(true);
                return;
            }
            $('#ckPagado').val(false);

        });
    });

</script>