@model App.Web.Models.AbonoPorClienteModel
<script src="~/Scripts/Proyecto/AbonoPorCliente.js"></script>

<center>
    <h2>Asignaciones</h2>
</center>
<hr style="background-color: #7e57c2; height: 2px">

<div class="row" style="padding-top:2%">
    <div class="col-lg-12 col-md-12">
        <table id="table-sortable-server" data-url="@Url.Action("Table", new { clienteId= Model.ClienteId })">
            <thead>
                <tr>
                    <th data-field="state" data-checkbox="true">#</th>
                    <th data-field="Cliente" data-align="center">Cliente</th>
                    <th data-field="Dni" data-align="center">Dni</th>
                    <th data-field="Abono" data-align="center">Abono</th>
                    <th data-field="FechaIngreso" data-align="center">Fecha de Ingreso</th>
                    <th data-field="FechaVencimiento" data-align="center">Fecha de Vencimiento</th>
                    <th data-field="Precio" data-align="center">Precio</th>
                    <th data-field="PendientePago" data-align="center">Pendiente Pago</th>
                    <th data-field="Pagado" data-align="center">Pagado?</th>
                    <th data-field="Estado" data-align="center">Estado</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div id="table-toolbar" class="form-group">
    <a href="@Url.Action("Create", new { id = Model.ClienteId})" id="new" class="btn btn-raised btn-primary btn-rounded">Nuevo</a>
    <a id="edit" onclick="Editar()" hidden class="btn btn-raised btn-success btn-rounded">Editar</a>
    <a id="renovar" onclick="Renovar()" hidden class="btn btn-raised btn-warning btn-rounded">Renovar</a>
    <a id="delete" onclick="Eliminar()" hidden class="btn btn-raised btn-danger btn-rounded">Eliminar</a>
</div>
<script>
    $('#table-sortable-server').on('check.bs.table uncheck.bs.table ' + 'check-all.bs.table uncheck-all.bs.table', function () {
        $('#edit').prop('hidden', !$('#table-sortable-server').bootstrapTable('getSelections').length)
        //$('#delete').prop('hidden', !$('#table-sortable-server').bootstrapTable('getSelections').length)
        $('#renovar').prop('hidden', !$('#table-sortable-server').bootstrapTable('getSelections').length)
    });

    $('#eventsTable').on('check.bs.table', function (e, row) {
        checkedRows.push({ id: row.id, name: row.name, forks: row.forks });
        console.log(checkedRows);
    });

    function Editar(parameters) {
        var id = parseInt($('#table-sortable-server').bootstrapTable('getSelections')[0].Id);
        window.location.href = "/AbonoPorCliente/Edit?id=" + encodeURIComponent(id) + "&clienteId=" + @Model.ClienteId;
    }

    function Renovar(parameters) {
        var id = parseInt($('#table-sortable-server').bootstrapTable('getSelections')[0].Id);
        window.location.href = "/AbonoPorCliente/Renovar?id=" + encodeURIComponent(id) + "&clienteId=" + @Model.ClienteId;
    }

      @*function Eliminar(parameters) {
        var id = parseInt($('#table-sortable-server').bootstrapTable('getSelections')[0].Id);
          window.location.href = "/AbonoPorCliente/Delete?id=" + encodeURIComponent(id) + "&clienteId=" + @Model.ClienteId;
    }*@

</script>


