@model App.Web.Models.FichaModel
<div class="row m-b-20">

    <div class="form-group bmd-form-group col-md-4">
        <label class="bmd-label-static">Cliente</label>
        @Html.TextBoxFor(model => model.NombreCompleto, new {id= "cliente", disabled ="disabled", autofocus = "autofocus", @class = "form-control", style = "width: 100%;" })
    </div>

    <div class="form-group bmd-form-group col-md-4">
        <label class="bmd-label-static">Teléfono</label>
        @Html.TextBoxFor(model => model.Telefono, new { disabled="disabled", id= "telefono", autofocus = "autofocus", @class = "form-control", style = "width: 100%;" })
    </div>
    <div class="form-group bmd-form-group col-md-4">
        <label class="bmd-label-static">Edad</label>
        @Html.TextBoxFor(model => model.Edad, new { disabled="disabled", id= "edad", autofocus = "autofocus", @class = "form-control", style = "width: 100%;" })
    </div>
    <div class="form-group bmd-form-group col-md-3">
        <label class="bmd-label-static">Altura</label>
        @Html.TextBoxFor(model => model.Altura, new {id="altura", autofocus = "autofocus", @class = "form-control",style = "width: 100%;" })
    </div>
    <div class="form-group bmd-form-group col-md-3">
        <label class="bmd-label-static">Peso</label>
        @Html.TextBoxFor(model => model.Peso, new {id="peso", autofocus = "autofocus", @class = "form-control", style = "width: 100%;" })
    </div>
    <div class="form-group bmd-form-group col-md-3">
        <label class="bmd-label-static">Grupo Sanguíneo</label>
        @Html.TextBoxFor(model => model.GrupoSanguineo, new {id= "sangre", autofocus = "autofocus", @class = "form-control", style = "width: 100%;" })
    </div>
    <div class="form-group bmd-form-group col-md-3">
        <label class="bmd-label-static">Médico de Cabecera</label>
        @Html.TextBoxFor(model => model.Medico, new {id= "medico", autofocus = "autofocus", @class = "form-control", style = "width: 100%;" })
    </div>
    <div class="input-field col-md-4" style="margin-left: -10px; padding-top:10px">
        <input type="checkbox" value="@Model.PColumna" id="ckColumna" />
        <label for="ckColumna">Tiene problemas de columna?</label>
        <textarea id="obColumna" class="form-control" rows="1" runat="server" id="txtContent">@Model.DetalleColumna</textarea>

    </div>
    <div class="input-field col-md-4" style="margin-left: -10px; padding-top:10px">
        <input type="checkbox" value="@Model.ECardiaca" id="ckCardiaca" />
        <label for="ckCardiaca">Enfermedad Cardíaca?</label>
        <textarea id="obCardiaca" class="form-control" rows="1" runat="server" id="txtContent">@Model.DetalleCardiaca</textarea>

    </div>
    <div class="input-field col-md-4" style="margin-left: -10px; padding-top:10px">
        <input type="checkbox" value="@Model.LRecientes" id="cklesion" />
        <label for="cklesion">Lesión Reciente?</label>
        <textarea id="obLesion" class="form-control" rows="1" runat="server" id="txtContent">@Model.DetalleLesion</textarea>

    </div>
    <div class="input-field col-md-6" style="margin-left: -10px; padding-top:10px">
        <label class="bmd-label-static">Objetivo Personal</label>

        <textarea id="objPersonal" class="form-control" rows="1" runat="server" id="txtContent">@Model.ObjPersonal</textarea>
    </div>
    <div class="input-field col-md-6" style="margin-left: -10px; padding-top:10px">
        <label class="bmd-label-static">Observación</label>

        <textarea id="observacion" class="form-control" rows="1" runat="server" id="txtContent">@Model.Observacion</textarea>
    </div>
</div>
    <div class="form-group pull-right">
        <button class="btn btn-primary" value="guardar" type="submit" name="guardar">
            Guardar
        </button>
    </div>

    <script>
    $(document).ready(function () {
        if ('@Model.PColumna' == "True") {
            $('#ckColumna').prop("checked", true);
            $('#obColumna').prop("disabled", false);
        }
        else {
            $('#ckColumna').prop("checked", false);
            $('#obColumna').prop("disabled", true);
        }
        if ('@Model.ECardiaca' == "True") {
            $('#ckCardiaca').prop("checked", true);
            $('#obCardiaca').prop("disabled", false);
        }
        else {
            $('#ckCardiaca').prop("checked", false);
            $('#obCardiaca').prop("disabled", true);
        }
           if ('@Model.LRecientes' == "True") {
               $('#cklesion').prop("checked", true);
               $('#obLesion').prop("disabled", false);
        }
        else {
               $('#cklesion').prop("checked", false);
               $('#obLesion').prop("disabled", true);
        }
    });
    </script>
