@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@model nXs.Web.Models.ResetearContraseña.ResetPasswordModel

<div class="col s12 z-depth-4 card-panel" style="padding: 10px">

    <form class="login-form" id="resetPassword">
        @Html.HiddenFor(x=> x.UserId)
        <div class="row">
            <div class="input-field col s12 m12 l12">
                <p class="margin center-align medium-small">
                    <a href="javascript:void(0)">@Model.Usuario, ingrese su nueva contraseña</a>
                </p>
            </div>
        </div>
        <div class="input-field col s12">
            @Html.TextBoxFor(x => x.Password, new {type = "password", id = "password"})
            <label for="password" class="center-align">Contraseña *</label>
        </div>
        <div class="input-field col s12">
            @Html.TextBoxFor(x => x.ConfirPassword, new {type = "password", id = "rePassword", required = "required"})
            <label for="rePassword" class="center-align">Confirmar Contraseña *</label>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <button type="submit" class="btn waves-effect waves-light col s12">Enviar</button>
            </div>
        </div>

    </form>


</div>


<script>

        function Login() {
            $("#resetPassword").show();
        }

    $( document ).ready(function() {
        $("#resetPassword").validate({
            rules: {
                Password: "required",
                ConfirPassword: {
                    equalTo: "#password"
                }
            },
            submitHandler: function (form) {
                $.ajax({
                    url: '@Url.Action("ResetPassword")',
                    type: "POST",
                    data: $("#resetPassword").serialize(),
                    success: function (data) {
                        if (data.Success) {
                            toastr["success"](data.Message, "Notificación:");

                            toastr.options = {
                                "closeButton": true,
                                "debug": false,
                                "newestOnTop": false,
                                "progressBar": false,
                                "positionClass": "toast-top-right",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "timeOut": "5000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            }
                            setTimeout(function () {
                                window.location.href = data.Url;
                                },3000);


                            } else {
                            toastr["error"](data.Message, "Notificación:");

                            toastr.options = {
                                "closeButton": true,
                                "debug": false,
                                "newestOnTop": false,
                                "progressBar": false,
                                "positionClass": "toast-top-right",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "timeOut": "5000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            }

                            }
                        },
                        error: function (result) {
                            alert("Error inesperado");
                        }
                    });
                }
            });
        });

</script>